.content__image {
    width: 1060px;
    height: 450px;
    border-radius: 10px;
}
.userPhoto {
    max-width: 200px;
}
.contact {
    padding-left: 10px;
}
.bold {
    font-weight: 700;
}
span {
    font-weight: 400;
}