.content__image {
    width: 1060px;
    height: 450px;
    border-radius: 10px;
}
.userPhoto {
    max-width: 200px;
}
.contact {
    padding-left: 10px;
}
.bold {
    font-weight: 700;
}
span {
    font-weight: 400;
}
.profile_data {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #d07966;
    max-width: 500px;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}
.profile {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.profile_data img {
    border-radius: 50px;
}