span img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.pages {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}
.pages li {
    cursor: pointer;
}
.selected {
    font-weight: bold;
    color: #b4270b;
}
