span img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.selected {
    font-weight: bold;
    color: #b4270b;
}
button:disabled {
    background-color: #494545;
}