.formControl {

}
.error input,
.error textarea {
    border: 2px solid red;
}

.error span {
    color: red;
}

.formSummaryError {
    border: 2px solid red;
    padding: 5px;
    color: #bd5238;
    display: inline-block;
}
button {
    background-color: #3c648e;
    padding: 10px 32px;
    border-radius: 5px;
    color: white;
}

.login {
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    background-color: #5f7aee;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-height: 500px;
}
.login input {
    border-radius: 3px;
}