.formControl {

}
.error input,
.error textarea {
    border: 2px solid red;
}

.error span {
    color: #b4270b;
}

.formSummaryError {
    border: 2px solid #bd5238;
    padding: 5px;
    color: #bd5238;
    display: inline-block;
}
button {
    background-color: #3c648e;
    padding: 10px 32px;
    border-radius: 5px;
    color: white;
}

.login {
    color: #494545;
    border: 3px solid #494545;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    background-color: #5f7aee;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-height: 400px;
}
.login input {
    border-radius: 3px;
}
.login h1 {
    font-size: 33px;
    font-weight: 700;
}

.login form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.login input {
    padding: 10px;
    border: 3px solid #494545;
    background-color: #c5c4cb;
    color: #494545;
}
.login input::placeholder {
    color: #494545;
    transition: all 0.3s ease 0s;
}

.login input:focus::placeholder {
    opacity: 0;
}
.login div:last-child  {
    align-self: center;
}